// Colors
@each $class, $color in $all-colors {
  // Backgound colors
  @if (type-of($color) == 'color'){
    .bg-#{$class} { background: $color; }

    // Fill colors (for SVG)
    .fill-#{$class} { fill: $color; }

    // Border colors
    .bdr-#{$class} { border: 1px solid $color; }

    // Text Colors
    .text-#{$class} { color: $color; }
  }
}
