<nav class="o-page-nav">
  <a href="/">&larr;</a>
  <a href="/sketch">Sketch</a>
  <a href="/design">Design</a>
  <a href="/validate">Validate</a>
  <a href="/plan">Planning</a>
  <a href="/frontend">Front End</a>
</nav>
