<%- include('../partials/head'); %>
<div class="display-flex">
  <%- include('../partials/nav-list'); %>
  <div class="o-section">
    <h1>Pixel perfect UI.</h1>
    <nav class="o-jump-to-nav">
      <span class="text-gray6">Jump to section</span>
      <a href="/design#downloads">Downloads</a>
      <a href="/design#examples">Examples</a>
      <a href="/design#colors">UI Colors</a>
      <a href="/design#icons">Icons</a>
      <a href="/design#antd-principals">Ant Design</a>


    </nav>

    <div id="downloads" class="o-section__sub-section">
      <%- include('../partials/download', {title: "Figma UI Kit", description: "Download the Figma UI Kit and start designing UI.", url: "#foo", thumbnail: "images/design/design-banner.png"}); %>
    </div>

    <div id="examples" class="o-section__sub-section">


      <div class="o-section__sub-section__group">
        <span>
          <h2>Example</h2>
          <p>Craft a beautiful interface with the Figma UI Kit. Design with confidence knowing you're always <i>on brand</i>.</p>

          <p>The Figma kits feature themes for both Site and Sponsor applications.</p>
        </span>
        <img width="750px" src="images/design/d1.jpg" alt="">
      </div>
    </div>
  </div>
</div>
<div class="o-big-white">
  <div id="colors" class="o-section">
    <h3>UI Colors</h3>
    <div id="cljs-ui-colors">loading...</div>
  </div>
</div>

<div class="o-big-cream">
  <div id="icons" class="o-section">
    <div class="display-flex align-items-center padding-top-50 padding-bottom-50">
      <div class="o-thumbnail o-thumbnail--framed margin-right-lg">
        <a target="_blank" href="https://fontawesome.com"><img width="400px" src="images/design/fontawesome-banner.png" alt=""></a>
      </div>
      <span>
        <h3>Font Awesome 5</h3>
        <p>Font Awesome, the web's most popular icon set and toolkit. For all the available icons and options, visit the Font Awesome website.</p>

        <a target="_blank" href="https://fontawesome.com" class="btn">Visit FontAwesome</a>
      </span>

    </div>
  </div>
</div>

<div>
  <div id="antd-principals" class="o-section">
    <div class="display-flex padding-top-50 padding-bottom-50">
      <div class="content">
        <h3>Ant Design Values</h3>
        <p>The design values of Ant Design provide designers with internal standards for evaluation, enlighten and inspire the design principles and design patterns, and then offer guidance and general solutions for specific design problems.</p>
        <a class="btn" href="https://ant.design/docs/spec/overview" target="_blank">
          View the guides
        </a>
      </div>
      <img width="500px" src="images/design/antd-banner.jpg" alt="">

    </div>
  </div>
</div>

<%- include('../partials/footer'); %>
