<%- include('../partials/head'); %>
<div class="display-flex">
  <%- include('../partials/nav-list'); %>
  <div class="section">
    <h1>Front-end Zen</h1>
    <nav class="o-jump-to-nav">
      <span class="text-gray6">Jump to section</span>
      <a href="/frontend#colors">Colors</a>
      <a href="/frontend#helpers">CSS Helpers</a>
      <a href="/frontend#icons">Icons</a>
      <a href="/frontend#aobi">AOBI CSS Guide</a>
    </nav>

    <div id="colors" class="sub-section">
      <h3>Colors</h3>
      <p>Set of colors.</p>
      <div id="clj-colors"></div>
    </div>

    <div id="helpers" class="sub-section">
      <h3>CSS Helpers</h3>
      <p>Set of helpers</p>
      <div id="clj-helpers"></div>
    </div>

    <div id="icons" class="sub-section">
      <h3>Font Awesome Icons</h3>
      <p>Set of icons</p>
    </div>

    <div id="aobi" class="sub-section">
      <h3>Atomic Object-Oriented Block Element Modifier Inverted Triangle SCSS</h3>
      <p>wtf?</p>
    </div>
  </div>
</div>
<%- include('../partials/footer'); %>
