<%- include('../partials/head'); %>
<div class="display-flex">
  <%- include('../partials/nav-list'); %>
  <div class="section">
    <h1>Front-end Zen</h1>
    <nav class="o-jump-to-nav">
      <span class="text-gray6">Jump to section</span>
      <a href="/frontend#colors">Colors</a>
      <a href="/frontend#helpers">CSS Helpers</a>
      <a href="/frontend#icons">Icons</a>
      <a href="/frontend#aobi">AOBI CSS Guide</a>
    </nav>
  </div>
</div>
<%- include('../partials/footer'); %>
