<%- include('../partials/head'); %>
<div class="o-welcome-banner">
  <div class="o-section">
    <div class="display-flex justify-space-between align-items-stretch">
      <div class="o-section__intro">
        <div class="logo">
          <img src="images/picasso-logo-block-with-tag.svg"/>
        </div>
        <h1>Picasso for Sprint Teams</h1>
        <h3 style="width: 420px">
          Build things that are useful and unique with the Picasso Design System.
        </h3>
        <a class="btn" href="/sketch">Start here</a>
      </div>
      <div>
        <img width="500px" src="images/team-color.svg"/>
      </div>
    </div>
  </div>
</div>

<div class="o-big-cream">
  <div class="o-section">
    <div class="o-section__intro">
      <h2>Getting started</h2>
      <p>Bring the <i>Picasso Design System</i> into your sprint to iterate more confidently, introduce fewer bugs, and increase your overall velocity. Wowza! Let's explore how Picasso can be the MVP of your sprint.</p>
    </div>
    <nav class="o-blocks">
      <div class="o-blocks__block">
        <div class="o-blocks__block__inner">
          <span class="icon"></span>
          <h3>Start with a sketch.</h3>
          <p>Use low fidelity tools to communicate your concepts. Spread the ideas around, iterate, and refine.</p>
          <a class="btn" href="/sketch">Start here</a>
        </div>
      </div>
      <div class="o-blocks__block">
        <div class="o-blocks__block__inner">
          <span class="icon"></span>
          <h3>Pixel perfect UI.</h3>
          <p>Turn up the fidelity with pixel perfect UI Kits from Figma. Provide a proper lift to your concepts.</p>
          <a class="btn" href="/design">Start here</a>
        </div>
      </div>
      <div class="o-blocks__block">
        <div class="o-blocks__block__inner">
          <span class="icon"></span>
          <h3>Listen. Present. Validate.</h3>
          <p>Spend time with our customers and learn about them. Create a sharable artifact to validate your ideas.</p>
          <a class="btn" href="/validate">Start here</a>
        </div>
      </div>
      <div class="o-blocks__block">
        <div class="o-blocks__block__inner">
          <span class="icon"></span>
          <h3>Planning & tactics</h3>
          <p>Identify patterns and opportunities for reusablity. Using the Atomic Design philosophy and Picasso's best practices, point cards confidently.</p>
          <a class="btn" href="/plan">Start here</a>
        </div>
      </div>
      <div class="o-blocks__block">
        <div class="o-blocks__block__inner">
          <span class="icon"></span>
          <h3>Front-end Zen</h3>
          <p>Craft a beautiful front-end with speed and percision. Take advantage of UI patterns and components and introduce fewer style bugs.</p>
          <a class="btn" href="/sprint">Start here</a>
        </div>
      </div>
    </nav>
  </div>
</div>
<%- include('../partials/footer'); %>
