<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="stylesheets/antd.min.css">
    <link rel="stylesheet" href="stylesheets/picasso.base.css">
    <link rel="stylesheet" href="stylesheets/main.css">
  </head>
  <body>
    <div id="app">Waiting...</div>
    <script src="main.js"></script>
  </body>
</html>
