<%- include('../partials/head'); %>
<div class="display-flex">
  <%- include('../partials/nav-list'); %>
  <div class="section">
    <h1>Planning & tactics</h1>
    <nav class="o-jump-to-nav">
      <span class="text-gray6">Jump to section</span>
      <a href="/plan#patterns">UI Patterns</a>
      <a href="/plan#gists">Gists</a>
    </nav>
  </div>
</div>
<%- include('../partials/footer'); %>
