<%- include('../partials/head'); %>
<div class="display-flex">
  <%- include('../partials/nav-list'); %>
  <div class="o-section">
    <h1>Planning & tactics</h1>
    <nav class="o-jump-to-nav">
      <span class="text-gray6">Jump to section</span>
      <a href="/plan#patterns">UI Patterns</a>
      <a href="/plan#ac">Gists</a>
    </nav>

    <div id="patterns" class="o-section__sub-section">
      <div class="o-section__sub-section__group">
        <span>
          <h2>Identify patterns</h2>
          <p>Section is WIP...</p>
        </span>
        <img width="750px" src="images/design/d1.jpg" alt="">
      </div>
    </div>

    <div id="patterns" class="o-section__sub-section">
      <div class="o-section__sub-section__group">
        <span>
          <h2>Better Acceptance Criteria</h2>
          <p>Section is WIP...</p>
        </span>
        <img width="750px" src="images/design/d1.jpg" alt="">
      </div>
    </div>
  </div>
</div>

<%- include('../partials/footer'); %>
