<%- include('../partials/head'); %>
<div class="display-flex">
  <%- include('../partials/nav-list'); %>
  <div class="section">
    <h1>Start with a sketch.</h1>
    <nav class="o-jump-to-nav">
      <span class="text-gray6">Jump to section</span>
      <a href="/sketch#downloads">Downloads</a>
      <a href="/sketch#examples">Examples</a>
      <a href="/sketch#whylofi">Why Lofi?</a>
    </nav>
  </div>
</div>
<%- include('../partials/footer'); %>
