<%- include('../partials/head'); %>
<div class="display-flex">
  <%- include('../partials/nav-list'); %>
  <div class="section">
    <h1>Start with a sketch.</h1>
    <nav class="o-jump-to-nav">
      <span class="text-gray6">Jump to section</span>
      <a href="/sketch#downloads">Downloads</a>
      <a href="/sketch#examples">Examples</a>
      <a href="/sketch#whylofi">Why Lofi?</a>
    </nav>

    <div id="downloads" class="sub-section">
      <h3>Downloads</h3>
      <p>Download the balsamiq mockup kit and start creating your mockup.</p>
    </div>

    <div id="examples" class="sub-section">
      <h3>Examples</h3>
      <p>See what you can create</p>
    </div>

    <div id="whylofi" class="sub-section">
      <h3>Why you should create Lofi mockups</h3>
      <p>Words...</p>
    </div>
  </div>

</div>
<%- include('../partials/footer'); %>
