<%- include('../partials/head'); %>
<div class="display-flex">
  <%- include('../partials/nav-list'); %>
  <div class="section">
    <h1>Listen. Present. Validate.</h1>
    <nav class="o-jump-to-nav">
      <span class="text-gray6">Jump to section</span>
      <a href="/validate#repos">Starter project repos</a>
      <a href="/validate#demos">Live demos</a>
      <a href="/validate#frontend">Front-end Help</a>
    </nav>

    <div id="repos" class="sub-section">
      <h3>Prototypes</h3>
      <p>...</p>
    </div>

    <div id="demos" class="sub-section">
      <h3>Live Demos</h3>
      <p>...</p>
    </div>

    <div id="frontend" class="sub-section">
      <h3>Front-end speed</h3>
      <p>...</p>
    </div>
  </div>
</div>
<%- include('../partials/footer'); %>
