<%- include('../partials/head'); %>
<div class="display-flex">
  <%- include('../partials/nav-list'); %>
  <div class="section">
    <h1>Listen. Present. Validate.</h1>
    <nav class="o-jump-to-nav">
      <span class="text-gray6">Jump to section</span>
      <a href="/validate#repos">Starter project repos</a>
      <a href="/validate#demos">Live demos</a>
      <a href="/validate#frontend">Frontend Help</a>
    </nav>
  </div>
</div>
<%- include('../partials/footer'); %>
