.o-page-nav {
  border-right: 1px solid $gray4;
  padding: 16px;

  a {
    display: block;
    padding: 8px;
  }
}

.o-jump-to-nav {
  display: flex;
  padding: 16px;
  border-left: 1px solid $gray5;

  span,a {
    margin-right: 24px;
  }
}
